#sidebar{
	padding-left:10px; 
	margin-left: 15px;
}
	#sidebar ul.nav ul.nav{
		padding-left: 30px;
	}
	#sidebar ul.nav ul.nav a.nav-link{
		padding-top: 4px;
		padding-bottom: 4px;
	}
	#sidebar ul.nav ul.nav ul.nav{
		padding-left: 60px;
	}
	#sidebar ul.nav ul.nav ul.nav ul.nav{
		padding-left: 90px;
	}
	#sidebar ul.nav ul.nav ul.nav ul.nav ul.nav{
		padding-left: 120px;
	}
	#sidebar ul.nav ul.nav ul.nav ul.nav ul.nav ul.nav{
		padding-left: 150px;
	}
	#sidebar ul.nav ul.nav ul.nav ul.nav ul.nav ul.nav ul.nav{
		padding-left: 180px;
	}
	#sidebar .nav-link.link-dark{
		opacity: 0.7;
	}
	#sidebar .nav-link.link-dark.parent, .sidebar .nav-link.link-dark.active{
		opacity: 1;
	}
	#sidebar .nav-link.link-dark.parent{
		opacity: 1;
		background-color: #ddd;
	}
#page-content{
	width: auto;
	padding: 20px;	
}
.sMon-TableViewGroupBy-pieCol{
	padding: 20px;	
}

	
.smon-page-details{
	color: gray;
}
.smon-page-headline{
	margin-bottom: .5rem;
}
.smon-page-headline .smon-page-name{
	margin-bottom: 0;
}

.tab-content{
	padding: 17px;
}	
	
.smon-infoTable.table{
	width: auto
}

.smon-infoTable.table .sMon-infoTable-row.sMon-infoTable-subHeader{
	border-top-width: 2px	
}
	
	
div.sMon-table-noDtNav div.dt-layout-row:not(.dt-layout-table) {
	display: none;	
}	
	
div.sMon-table-noDtNav div.dt-container div.dt-layout-row.dt-layout-table {
	margin: 0;
}	
	

.sMon-icon, 
.sMon-icon .sMon-pie-icon,
.sMon-icon > img,
.sMon-icon > image{
	display : inline-block;
	width   : 16px; 
}
.sMon-icon-svg-url{
	vertical-align: baseline;
	height : 16px; 
}

h2 .sMon-icon, 
h2 .sMon-icon .sMon-pie-icon,
h2 .sMon-icon > img,
h2 .sMon-icon > image{
	width   : 25px; 
	margin-right: 7px;
}	
h2 .sMon-icon-svg-url{
	height : 25px; 
	margin-right: 7px;
}
.sMon-table div.dt-container .dt-info,
.sMon-table div.dt-container .dt-search label,
.sMon-table div.dt-container .dt-length label{
	color: rgba(0, 0, 0, 0.3);
}


.smon-server-link-div .sMon-icon, 
.smon-server-link-div .sMon-icon .sMon-pie-icon,
.smon-server-link-div .sMon-icon > img,
.smon-server-link-div .sMon-icon > image{
	width   : 20px; 
}
.smon-server-link-div .sMon-icon-svg-url{
	height : 20px; 
}


.pie-svg   path.pie-segment,
.histo-svg rect.pie-segment,
.pie-svg  cicle.pie-segment{
	opacity: 0.7;
	transition: opacity 0.3s;
}	

.pie-svg   path.pie-segment-hover, 
.pie-svg   path.pie-segment:hover,
.histo-svg rect.pie-segment-hover, 
.histo-svg rect.pie-segment:hover{
	opacity: 1;
}	

tr.pie-segment-hover > td,
tr.pie-segment:hover > td,
table.dataTable > tbody > tr.pie-segment-hover >td,
table.dataTable > tbody > tr.pie-segment:hover >td{
	transition: background-color 0.5s;
	background-color: #EEEEEE;	
} 	

.accordion-item.not-hideable, .sMon-panel-inCol{
	margin-bottom: 24px;
}

.accordion-item.not-hideable, 
.sMon-panel-inCol{
	border-radius: 5px;
}

.accordion-item.not-hideable .accordion-button,  
.sMon-panel-inCol .accordion-button{
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;	
}



.accordion-item.not-hideable > .accordion-header > .accordion-button{
	cursor: default;
}
.accordion-item.not-hideable > .accordion-header > .accordion-button::after{
	display: none;
}
.sMon-tab-body-title {
	padding-bottom: 12px;
}
h1.sMon-paragraph-title .badge{
	margin-left: 15px;	
}

h2.sMon-paragraph-title .badge{
	margin-left: 12px;	
}
h3.sMon-paragraph-title .badge{
	margin-left: 10px;	
}
h4.sMon-paragraph-title .badge{
	margin-left: 8px;	
}
h5.sMon-paragraph-title .badge{
	margin-left: 6px;	
}
h6.sMon-paragraph-title .badge{
	margin-left: 4px;	
}



.sMon-GroupBy-stats th{
	font-weight: lighter;
}

.sMon-GroupBy-stats td.sMon-GroupBy-stats-tdWithLine{
	padding-bottom: 2px
}
